/*
 * Base structure
 */
.go-back a {
    color: #1F1F1F !important;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

.modal-services {
    width: 500px;
    min-width: 300px;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 140px;
}

.form-count-people {
    float: left;
    width: 20%;
    margin-right: 30px;

}

.badge {
    background-color: #5abd57;
}

.count-people-price {
    margin-top: 340px;
}
.btn-add-service {
    margin-top: 42px;
    float: none;
}

.modal-sm {
    min-width: 400px !important;
    margin-top: 340px !important;
}
.events-item a {
    display: block;
    height: 100%;
}
.btn-save-and-pull{
    float: initial !important;
}

.nav li:hover {
    background-color: #af0807;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron h3 {
    color: cadetblue;
}
.events-item {
    float: left;
    width: 300px;
    height: 100px;
    background-color: #66512c;
    border: black 1px solid;
    margin-right: 20px;
    margin-bottom: 20px;

}

.events-item:hover{
    border: red 4px solid;

}

.events-item-title {
    text-align: center;
    font-weight: 800;
    padding-top: 13px;
    width: 100%;
    height: 20px;
    color: #fff;
    text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
}

.form-images-download {
    height: 200px;
    background-color: #f7f7f7;
    border-bottom: 3px solid darkseagreen;
    margin-left: 40px;
}

.pattern-container {
    clear: both;
    margin-bottom: 100px;
}

.event-options {
    margin-bottom: 70px;
}

.pattern-input {
    width: 100%;
    border: 2px solid #8c8c8c;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.go-back{
    border: none;
    color: #fff;
    background-color: #ccc;
}
/*
 * Global add-ons
 */
.alert-dangers {
    width: 30%;
    display: none;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.day-amount {
    width: 32%;
}

.step {
    margin-left: 430px;
}

#foo {
    display: none;
    z-index: 12;
    position: absolute;
    left: 50%;
    top: 50%;

}

#foo.active {
    display: inline-block; /* или какой надо */
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    background-color: #252525;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #252525;
        border-right: 1px solid #929292;
    }
}

.list-group-item {
    background-color: #585858;
    border: 1px solid #8c8989;
}

.list-group-item a {
    color: #ffffff;
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #bfbfbf;
    text-align: center;
}

.nav-sidebar > .active > a {
    color: #31708f;
    background-color: #428bca;
}

.jumbotron {
    background-color: #e2e2e2;

}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.navbar-nav {
    float: right;
}

.table-tickets {
    width: 50%;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 7px 8px;;
    font-size: 14px;
    float: right;

}

.btn-save {
    float: left;

}

.title-data {
    margin-top: 120px;
}

.btn-add {
    margin-top: 82px;

}

.modal-dialog {
    min-width: 700px;
    max-width: 700px;
    margin: 30px auto;
}

.form-horizontal {
    margin-top: 32px;
}
.img-thumbnail {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.slider-preview img {
    height: 100px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.events-alert {
    text-align: center;
    margin-top: 300px;
    color: #969696;
}

.sevices-list {

}
.add-event {
    margin-top: 20px;
    margin-right: 25px;
    padding: 15px;
}

#form {
    margin-top: 50px;
    margin-left: 50px;
}

.form-label {
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

.glyphicon:hover {
    color: #fb0505;
    cursor: pointer;
}

.title-services {
    height: 70px;
    font-weight: bold;
}

.title-services span {

    margin-top: 15px;
    display: block;;
}
.new-event-title {
    color: #909090;
    margin-bottom: 30px;
    margin-top: 70px;
}

.sevice-right-column {
    float: right;
    border: 1px solid black;
    margin-top: 32px;
    padding: 30px;
    border-radius: 14px;
}
.sub-header {
    background-color: blanchedalmond;
    text-shadow: 1px 1px 2px black;
    color: chocolate;
}

.table-services {

    margin-top: 40px;
}

.table-services > tbody > tr > td {
    border: none;
    margin-left: 8px;
}
