/** {
  transition: 1s ease 0s;
}*/
.shTime {
  /*background-color: #AF0807 !important;*/
  border-color: #c8c4b6 !important;
  transition: 1s ease 0s;
  border-width: 2px !important;
}
.shTime:hover {
  border-color: rgb(216,20,19) !important;
  background-color: rgb(216,20,19) !important;

}
.shTimeHref:hover {
  text-decoration: none;
  color: white;
}
.container.container-form {
  margin-right: 0px !important;
  border-top: 3px solid #b6b2b3 !important;
  background-color: #151515 !important;
}
body {
  background-color: #151515 !important;
  width: 100%;
}
.container.container-form {
  color: #c8c4b6 !important;
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif !important;
  margin-right: 0px;
}
.form-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
}
.container.container-form .parameters {
  margin: 15px auto 15px;
}
.container.container-form .parameters .datetitle, .container.container-form .parameters .pricetitle {
  display: inline-block;
/*  width: 80px;
  text-align: right;*/
  margin-right: 20px;
}
.parameters .dateday, .parameters .datetime, .parameters .pricevalue {
  border-radius: 15px;
  border: 1px solid #c8c4b6;
  display: inline-block;
  padding: 10px;
}
.container.container-form label.col-sm-2.control-label {
/*  width: 80px;
  margin-right: 20px;
  font-weight: normal;
  text-align: right;
  padding: 0px;*/
}
.container.container-form .form-control {
  border: none;
  background-color: #565656;
  border-radius: 0px;
  border-bottom: 1px solid #3f3f3f;
  color: #c8c4b6 !important;
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif !important;
  height: 39px;
  padding: 13px;
}
.container.container-form .form-group {
  width: auto;
  margin-bottom: 10px;
  height: auto;
}
.container.container-form .col-sm-3 {
  width: auto;
}
.frame {
  max-width: 700px;
  width: 100%;
  margin: 0px auto;
}

.btn-ticket{
    color: #ffffff;
    background-color: #fb0505;
    border-color: #ccc;
    width: 100%;
    margin-top: 20px;
    height: 45px;
}
.jumbotron.done{
      background-color: dimgrey;
      position: relative;
      top: 15px;
}